.container-principal {
    height: 100%;
}

.form {
    max-width: 600px;
    margin: 0 auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 24px;
    margin: 0;
}

.input-group,
.input-box {
    margin-bottom: 20px;
}

    .input-box label {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .input-box input,
    .input-box textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

.btn-primary {
    background-color: #000; / preto /
    border: none;
    color: white; / garante que o texto seja branco /
    width: 100%; / completo preenchimento no rodapé do card /
}

    .btn-primary:hover {
        background-color: #555; / um cinza escuro para hover /
    }

.card-custom,
.card {
    background-color: #fff;
    border: 1px solid #000;
    text-align: center; / centraliza todo o texto no card /
}

.row {
    align-items: center; / centraliza verticalmente se necessário */
}


.container {
    z-index: 1;
    padding-top: 30px;
}
