.container{
    padding-top: 50px;
}

.card{
    border: unset;
}

.card-body {
    padding: 0px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 15px;
}

.card-title {
    background-color: rgb(12, 3, 34);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 3px;
}
