
﻿* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 9;
}


.container-principal {
    height: 100%;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 24px;
    margin: 0;
}

.input-group,
.input-box {
    margin-bottom: 20px;
}

    .input-box label {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .input-box input,
    .input-box textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

.btn-primary {
    background-color: #000;
    color: white;
}

    .btn-primary:hover {
        background-color: #555;
    }

.card-custom,
.card {
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
}

.row {
    align-items: center;
}

.center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
}

.col-md-6 mb-4{
    z-index: -1;
}

.mb-4{
    z-index: -1;
}