
.form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}


.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.title h1 {
    font-size: 24px;
    margin: 0;
}


.input-group {
    margin-bottom: 20px;
}


.input-box {
    margin-bottom: 20px;
}


    .input-box label {
        font-size: 18px;
        margin-bottom: 5px;
    }


    .input-box input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }


    .input-box textarea {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }


.btn-primary {
    background-color: rgb(255, 128, 0);
    border: none;
}


    .btn-primary:hover {
        background-color: rgb(170, 85, 1);
    }


.form {
    margin: 100px 250px;
    display: flex;
    width: 100%;
}
