@page
@model WebApplication1.Pages.AdicionarItemModel
@{
    ViewData["Title"] = "Adicionar";
}

<link rel="stylesheet" href="~/css/AdicionarItemcss.css" asp-append-version="true" />



<div class="containerProduto">
    <h2>Adicionar Produto</h2>
    <form id="adicionarProdutosForm" method="post">
        <label for="quantidade">Quantidade do produto a adicionar:</label>
        <div class="input-with-total">
            <input type="number" id="quantidade" name="quantidade" min="1" asp-for="@Model.Quantidade" asp-area="" required>
           
        </div>
        <div class="button-container">
            <button id="btn-adicionar" type="submit" value="Adicionar" >Adicionar</button>
           <!-- <input type="button" value="Cancelar" onclick="window.location.href='Estoque.cshtml'">-->
            <button id="btn-cancelar" type="submit" value="Cancelar"><a id="link-cancelar" asp-page="/Estoque" asp-route-id="" asp-area="" aria-label="Cancelar">Cancelar</a></button>
        </div>
    </form>

</div>
