@page
@model WebApplication1.Pages.EstoqueModel
@{
    ViewData["Title"] = "Estoque";
}

<link rel="stylesheet" href="~/css/Estoquecss.css" asp-append-version="true" />

<div class="container mt-4 card-1">
    <div class="row">

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vendas</h5>
                    <i class="bi bi-bar-chart-line-fill"></i>
                    <p class="card-text">Total de vendas: 100</p>
                </div>
            </div>
        </div>
        <!-- Card Produtos -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Estoque</h5>
                    <i class="bi bi-boxes"></i>
                    <p class="card-text">Total de produtos: @Model.totalProdutos</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Preço:</h5>
                    <i class="bi bi-currency-dollar"></i>
                    <p class="card-text">Preço do produtos: R$ @Model.totalPreco</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Status:</h5>
                    <i class="bi bi-clock-fill"></i>
                    <p class="card-text">Total de serviços: 1</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Big Card -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Categoria:</h5>
                    <!-- grafico aqui-->
                    <p class="card-text">Descrição dos produtos:</p>
                </div>
            </div>
        </div>
    </div>
</div>