@page
@model WebApplication1.Pages.ExcluirProdutoModel
@{
    ViewData["Title"] = "Excluir Produto";
}

<link rel="stylesheet" href="~/css/ExcluirProdutocss.css" asp-append-version="true" />

<div class="container-prod">
    <h2>Remover Produto</h2>
    <form  method="post">
        <label for="quantidade">Quantidade do produto a remover:</label>
        <div class="input-with-total">
            <input asp-for="@Model.Quantidade" type="number" id="quantidade" name="quantidade" min="1" required>
        </div>
        <div class="button-container">
            <button id="btn-login">Remover</button>
            <button id="btn-cancelar" type="submit" value="Cancelar"><a id="link-cancelar" asp-page="/Estoque" asp-route-id="" asp-area="" aria-label="Cancelar">Cancelar</a></button>
        </div>
    </form>


</div>