@page
@model WebApplication1.Pages.ExcluirProdutoModel
@{
    ViewData["Title"] = "Excluir Produto";
}

<link rel="" href="~/js/ExcluirProdutojs.js" asp-append-version="true" />
<link rel="stylesheet" href="~/css/ExcluirProdutocss.css" asp-append-version="true" />

<div class="container">
    <h2>Remover Produto</h2>
    <form id="removerProdutosForm">
        <label for="quantidade">Quantidade do produto a remover:</label>
        <div class="input-with-total">
            <input type="number" id="quantidade" name="quantidade" min="1" required>
            <span id="total-remover">0/50</span> <!-- Elemento para mostrar o total -->
        </div>
        <div class="button-container">
            <input type="submit" value="Remover">
            <input type="button" value="Remover Tudo" onclick="removerTudo()">
        </div>
        <div class="button-container cancel-button-container">
            <!-- Div adicionada para centralizar o botão cancelar -->
            <input type="button" value="Cancelar" onclick="window.location.href='Estoque.html'">
        </div>
    </form>
</div>