@page
@model WebApplication1.Pages.FornecedorModel
@{
    ViewData["Title"] = "Fornecedor";
}

<title>Chaves Prod</title>
<link rel="stylesheet" href="~/css/Fornecedorcss.css" asp-append-version="true" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<div class="container py-5">
    <div class="row justify-content-center">
        @for (int i = 0; i < Model.listaFornecedor.Count; i++)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 border-dark">
                    <div class="card-body text-black">
                        <h5 class="card-title">@Model.listaFornecedor[i].Nome</h5>
                        <p class="card-text">@Model.listaFornecedor[i].Descricao</p>
                    </div>
                    <div class="card-footer bg-dark">
                        <a asp-page="/InfoProduto" asp-route-nome="@Model.listaFornecedor[i].Nome" asp-area="" class="btn btn-light" aria-label="Visualizar do Estoque">
                            Visualizar Produto
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
