@page
@model WebApplication1.Pages.InfoProdutoModel
@{
    ViewData["Title"] = "InfoProduto";
}

<link rel="stylesheet" href="~/css/InfoProdutocss.css" asp-append-version="true" />


<div class="container mt-4 card-1">
    <div class="row">



        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Chaves Produ</h5>
                    <p class="card-text">Chave do produto</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">tipos de serviços</h5>
                    <p class="card-text">Produtos:</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Big Card -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Última Remessa</h5>
                    <!-- grafico aqui-->
                    <p class="card-text">Descrição dos produtos</p>
                </div>
            </div>
        </div>
    </div>
</div>