@page
@model WebApplication1.Pages.LoginuserModel
@{
    ViewData["Login"] = "Login";
}

<link rel="stylesheet" href="~/css/Loginusercss.css" asp-append-version="true" />


<div class="tela-de-login">
    <h1>Login</h1>
    <form method="post">
        <input asp-for="@Model.Usuario" type="text" placeholder="Usuário" class="input-login">
        <br><br>
        <input asp-for="@Model.Senha" type="password" placeholder="Senha" class="input-login">
        <br><br>
        @if (Model.mensagemErro != "")
        {
            <p>@Model.mensagemErro</p>
        }
        <button id="btn-login">Enviar</button>
    </form>
</div>