@page
@model WebApplication1.Pages.VendasModel
@{ 
    ViewData["Title"] = "Vendas";
}

<link rel="stylesheet" href="~/css/Vendascss.css" asp-append-version="true" />


<div class="table">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Cliente</th>
                <th scope="col">Valor</th>
                <th scope="col" class="text-end">Visualizar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1234</td>
                <td>Nagibe</td>
                <td>R$ 100,00</td>
                <td class="text-end">
                    <button type="button" class="btn btn-primary" aria-label="Visualizar compra de Nagibe" onclick="window.location.href='VisualizarVendas1.html'">
                        <i class="bi bi-eye"></i>
                    </button>
                </td>
            </tr>
            <!-- Repita as linhas da tabela conforme necessário -->
        </tbody>

        <tbody>
            <tr>
                <td>4321</td>
                <td>Jonathan</td>
                <td>R$ 100,00</td>
                <td class="text-end">
                    <button type="button" class="btn btn-primary" aria-label="Visualizar compra de Jonathan" onclick="window.location.href='VisualizarVendas2.html'">
                        <i class="bi bi-eye"></i>
                    </button>
                </td>
            </tr>
            <!-- Repita as linhas da tabela conforme necessário -->
        </tbody>

        <tbody>
            <tr>
                <td>5678</td>
                <td>Edivaldo</td>
                <td>R$ 100,00</td>
                <td class="text-end">
                    <button type="button" class="btn btn-primary" aria-label="Visualizar compra de Edivaldo" onclick="window.location.href='VisualizarVendas3.html'">
                        <i class="bi bi-eye"></i>
                    </button>
                </td>
            </tr>
            <!-- Repita as linhas da tabela conforme necessário -->
        </tbody>
    </table>
</div>